@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("todo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.edit{
    font-size:13px;
    color:white;
    background-color: blue;
    padding: 5px;
    border:none;
    border-radius: 20px;
    width:55px;
    margin-left: 0px;
}
input[type="checkbox"]{
    width:18px;
}
.delete{
    font-size: 13px;
    margin-left: 20px;
    color:white;
    padding:5px;
    width:55px;
    border:none;
    border-radius:20px;
    background-color: red;

}
.listyle{
    display:flex;
    flex-wrap:wrap;
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    margin-top: 9px;
    margin-bottom: 10px;
    border-radius: 12px;
    padding:11px;
    font-size:17px;
    text-indent: 12px;
    width:300px;
}
div{
    width:30vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    border-radius: 25px;
    padding: 40px;
}
input[type="text"]{
    margin-top: 12px;
}
input[type="submit"]{
    
    margin-top: 14px;
    color:rgb(255, 255, 255);
    background-color: rgb(9, 255, 5);
    border-radius: 20px;
    padding:10px;
}
input[type="submit"]:hover{
    color: rgb(9, 255, 5);
    background-color:rgb(255, 255, 255) ;
}
h3{
    font-family:inter;
    color:rgb(225, 0, 255);
}
label,input[type="submit"],#clear{
    font-family:inter;
}
.red{
    color:rgb(255, 52, 52);
}
#clear{
    float:right;
    width:100px;
    color:aliceblue;
    background-color: rgb(255, 1, 1);
    border-radius: 20px;
    padding:10px;
    margin-top: 14px;
}
#clear:hover{
    color: rgb(255, 1, 1);
    background-color: aliceblue;
}
@media only screen and (max-width:500px){
    body{
        display:flex;
        background-image: url("todo.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 40px;
        padding-right: 33px;
        align-items: center;
        justify-content: center;
    }
      div{
        width:87vw;
        /* height:55vh; */
      }
}
@media only screen and (max-width:400px){
    .listyle{
        width:30vw;
    }
}
@media screen and (max-width:597px) and (min-width:501px)  {
    .listyle{
        width:30vw;
    }
    
}
@media only screen and (max-width:927px) and (min-width:501px){
    div{
        width:57vw;
        margin-left: auto;
        margin-right: auto;
        /* height:55vh; */
      }
}
@media only screen and (min-width:927px) and (max-width:1148px){
    div{
        width:40vw;
        margin-left: auto;
        margin-right: auto;
    }
    .listyle{
        width:30vw;
    }
}